body,html{
  height: 100%;
  margin: 0;
  background: #7F7FD5;
     background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
      background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.chat{
  margin-top: auto;
  margin-bottom: auto;
}
.card{
  height: 500px;
  border-radius: 15px !important;
  background-color: rgba(0,0,0,0.4) !important;
}
.contacts_body{
  padding:  0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;
}
.msg_card_body{
  overflow-y: auto;
}
.card-header{
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}
.card-footer{
border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}
.container{
  align-content: center;
}
.search{
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color:white !important;
}
.search:focus{
     box-shadow:none !important;
       outline:0px !important;
}
.type_msg{
  background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color:white !important;
  height: 60px !important;
  overflow-y: auto;
}
.type_msg:focus{
    box-shadow:none !important;
    outline:0px !important;
}

.attach_btn{
border-radius: 15px 0 0 15px !important;
background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color: white !important;
  cursor: pointer;
}
.send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color: white !important;
  cursor: pointer;
}
.search_btn{
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color: white !important;
  cursor: pointer;
}
.contacts{
  list-style: none;
  padding: 0;
}
.contacts li{
  width: 100% !important;
  padding: 5px 10px;
  margin-bottom: 15px !important;
}
.active{
  background-color: rgba(0,0,0,0.3);
}
.user_img{
  height: 60px;
  width: 60px;
  border:1.5px solid #f5f6fa;

}
.user_img_msg{
  height: 40px;
  width: 40px;
  border:1.5px solid #f5f6fa;

}
.img_cont{
  position: relative;
  height: 60px;
  width: 60px;
}
.img_cont_msg{
  height: 35px;
  width: 35px;
}
.online_icon{
position: absolute;
height: 15px;
width:15px;
background-color: #4cd137;
border-radius: 50%;
bottom: 0.2em;
right: 0.4em;
border:1.5px solid white;
}

.offline{
background-color: #c23616 !important;
}

.user_info{
margin-top: auto;
margin-bottom: auto;
margin-left: 15px;
width: 100%;
position: relative;
overflow: hidden;

}

.user_info span{
font-size: 16px;
color: white;
width: 60%;
display: flex;
position: relative;
}

.user_info span .count{
  position: absolute;
  right: 0;
  background-color: #4cd137;
  width: 19px;
 
  color: black;
  font-weight: bold;
  text-align: center;
  padding: auto;
  border-radius: 50%;
  font-size: 13px;
  height: 19px;
}

.user_info p{
font-size: 13px;
color: rgba(255,255,255,0.6);
}

.video_cam{
margin-left: 1px;
margin-top: 5px;
}

.video_cam span{
color: white;
font-size: 20px;
cursor: pointer;
margin-right: 3px;
}

.msg_cotainer{
  display: block;
  margin-left: 10px;
  text-align: center;
  max-width: 75%;
 
}

.msg_cotainer_send{
  margin-right: 10px;
  
  display: block;
  max-width: 75%;
  text-align: center;
}


.text{
  margin-bottom: 2px;
  width: auto;
  padding: 10px;
  border-radius: 25px;
  background-color: #82ccdd;
}


.text_send{
  margin-bottom: 2px;
  background-color: #78e08f;
  width: auto;
  padding: 10px;
  border-radius: 25px;
 
}

.msg_time{
color: rgba(255,255,255,0.5);
font-size: 10px;
display: block;
text-align: left;
}

.msg_time_send{
color: rgba(255,255,255,0.5);
font-size: 10px;
display: block;
text-align: right;
}

.msg_head{
position: relative;
}

#action_menu_btn{
position: absolute;
right: 10px;
top: 10px;
color: white;
cursor: pointer;
font-size: 20px;
}
.action_menu{
z-index: 1;
position: absolute;
padding: 15px 0;
background-color: rgba(0,0,0,0.5);
color: white;
border-radius: 15px;
top: 30px;
right: 15px;
display: none;
}
.action_menu ul{
list-style: none;
padding: 0;
margin: 0;
}
.action_menu ul li{
width: 100%;
padding: 10px 15px;
margin-bottom: 5px;
}
.action_menu ul li i{
padding-right: 10px;

}
.action_menu ul li:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.2);
}
.hide{
  display: none;
  
}

.input-group{
  margin: 10px;
  color: white;
  background-color: blue;
  text-align: center;
}
h1{
  margin: 8px;
  text-align: center;
  width: 100%;
}

.controls{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content:center;
  justify-items: center;
  align-content: space-around;
}

.controlschild{
  width:48%;
  text-align: center;
  border: dotted 1.2px goldenrod;
  margin: 2px;
}

.controlschild a{
  font-style: normal;
  color: goldenrod;
  
}

.controlschild a:hover{
  color: gold;
  text-decoration: none;
}

button{
  background-color: #7F7FD5;
  margin-left: 8px ;
  font-size: 12px;
  cursor: pointer;
}

button:hover{
  background-color: #5a5a6a;
}

#add{
 
  position: absolute;
  right: 0;
  top: 0;
}

.add_intro{
  margin-top: 30px;
  text-align: center;
  color: white;
}
.add_intro a{
  text-decoration: none;
  color: gold;
  border: dotted 1.2px goldenrod;
  padding: 1px 5px;
}

.add_intro a:hover{
  color: #c23616;
  color: goldenrod;
  border: dotted 1.2px gold;
}


.calling{
  position: absolute;
  z-index: 10;
  width: 150px;
  margin: auto;
  
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 150px;
  background-color: white;
  text-align: center;
}
.calling p{
  font-size: 14px;
  padding: 5px;
}

.calling a{
  font-size: 30px;
 
}

.grow{
  
  animation: center-animate 0.8s linear infinite alternate;

}
@keyframes center-animate {
  0% {
      transform: scale(1.4);
  }
  100% {
      transform: scale(1);
  }
}

/* -----ROOM STYLING ------*/


#video-streams{
  display: flex;
  flex-wrap: wrap;
  height: 85vh;
  width: 90%;
  margin:0 auto;
}

.video-container{
  flex-basis: 500px;
  flex-grow: 1;
  max-height: 100%;
  min-height: 350px;
  border: 1px solid rgb(75, 93, 172);
  border-radius: 5px;
  margin: 2px;
  background-color: rgba(198,202,219,1);
  position: relative;
}

.video-player{
  height: 100%;
  width: 100%;
}
.video-player > *{
  border-radius: 5px;
}
.username-wrapper{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  border-radius: 5px;
  
  font-size: 14px;
  color: #fff;
}

@media screen and (max-width:1650px) {
  .video-container{
      flex-basis: 300px;
      min-height: 200px;
  }
}


/* -----ROOM STYLING / Controls------*/

#controls-wrapper{
  display: flex;
  width:100%;
  justify-content: center;
  column-gap: 1em;
  position: fixed;
  bottom: 20px;
}

.control-icon{
  height: 50px;
  width: 50px;
 
  background-color: #fff;
  cursor: pointer;
  color: black;
   padding: 10px;
   border-radius: 5px;
}

#leave-btn{
  background-color: rgb(255, 80,80,1);
}

@media(max-width: 576px){
.contacts_card{
margin-bottom: 15px !important;
}
}